################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApiBookMarker/.vs/ApiBookMarker/v15/Server/sqlite3
